.rodapé {
  background-color: var(--preto);
  padding: 1em;
}
.rodape__titulo {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--branco);
}

p {
  margin: 0;
}
