p{margin: 0;}

.cabeçalho {
  background-color: var(--preto);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 80px;
}

.container {
  display: flex;
  align-items: center;
}

.container__titulo {
  color: white;
  font-size: 16px;
  margin-left: 20px;
}

.botao {
  background: var(--vermelho);
  padding: 0.5em;
  font-weight: 500;
  font-size: 16px;  
  border: none;
  color: var(--branco);
  cursor: pointer;
  display: flex;
  flex-direction: column; 
  border-radius: 10px;  
  margin-right: 20px;
} 

.botao:hover{
  background-color: var(--vermelho-escuro);
}

@media screen and (min-width: 1024px) {
  .container__titulo,
  .container__titulo--negrito {
      font-family: var(--fonte-secundario);
      font-size: 30px;
  }

  .container__titulo {
      font-weight: 400;
      display: block;
  }

  .container__titulo--negrito {
      font-weight: 700;
  }


}

@media screen and (min-width: 1728px) {
  .container__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--preto);
  }

  .cabeçalho {
      padding: 0 2em;
  }

  .opções {
      margin-right: auto;
  }

  .container__texto {
      display: block;
  }
}
