.container-fluid {
  background-image: linear-gradient(180deg, rgb(224, 224, 238), rgb(226, 226, 215));
  height: 100vh;
  margin: 0;
  padding: 0;
}

.card{
  margin: 100px 0px 100px 0px;
}

.ilustracao{
  max-width: 30%;
}

.principal__titulo {
  font-weight: 700;
  font-size: 26px;
  color: var(--laranja)
}


