<div class="container-fluid d-flex justify-content-center">
    <div class="cadastro row">
        <div class="card col-12 d-flex align-items-center">           
            <h2 class="principal__titulo text-center">Cadastro realizado com sucesso!</h2>
            <img src="./assets/img/success.png" alt="Ilustração de mulher lendo um livro"
                class="ilustracao mt-5">
                <div class="botao ">
                    <button class="formulario__botao mb-4" routerLink="/cadastro">
                      Voltar para o cadastro
                    </button>
                </div>
        </div>
    </div>
</div>
